*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body
{
    background-color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ProfileContainer
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-width: 1000px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.LeftContainer
{
    background-color: #256eff;
    position: relative;
    padding: 40px;
    
}

.ProfileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    color: white;
    font-size: 15px;
}
.ProfileTextContacts .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 600;
}
.ProfileTextContacts
{
color: white;
font-size: 15px;
font-weight: 600;
border-bottom: 1px solid;
padding-bottom: 20px;
}
.RightContainer
{
    background-color: white;
    position: relative;
    padding: 40px;
    
}
.RightProfile
{
    font-weight: 600;
}
.Rightjob
{
    position: relative;
    flex-direction: column;
    align-items: left;

}
.RightJobInfo
{
    position: relative;
    align-items: right;
    
}
ul {
  list-style-type: none;
}